<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Login to see your todos</h1>
    <form action="/login" method="post">
        <label for="name"></label>
        <input type="text" id="name" name="name">
        <label for="password"></label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
    </form>
    <h2 style="color: red" th:text="${error}"></h2>
    <a href="/registration">Or register</a>
</body>
</html>