<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${user.name}''s profile|"></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body th:object="${user}">
    <div th:replace="fragments/header.html :: header"></div>
    <ul>
        <li th:text="|Name: *{name}|"></li>
        <li th:text="|E-mail: *{email}|"></li>
        <li th:text="|Gender: *{gender}|"></li>
    </ul>

    <form th:action="|/users/${userId}/editBio|" method="post">
        <label for="bio">Add a bio!</label>
    <textarea name="bio" id="bio" cols="30" rows="10" th:text="${user.bio == null ? '' : user.bio}"></textarea>
        <input type="submit" value="Save bio">
    </form>
    <form th:action="|/users/delete/${userId}|" method="post">
        <input type="submit" value="Delete Profile">
    </form>
    <h2 style="color: red" th:text="${error}"></h2>
</body>
</html>